<o-form-layout-manager attr="Shipper" mode="tab" title="SHIPPER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ShipperTable" 
            service="Shipper" 
            entity="Shipper" 
            title="SHIPPER"
            keys="id"
            columns="name;contact_info;id" 
            header-actions="R;D"
            visible-columns="name;contact_info;id"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #contact_info attr="contact_info" title="contact_info" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>