<o-form-layout-manager attr="PurchaseOrder" mode="tab" title="PURCHASEORDER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PurchaseOrderTable" 
            service="PurchaseOrder" 
            entity="PurchaseOrder" 
            title="PURCHASEORDER"
            keys="id"
            columns="id;supplier_id;order_date;received" 
            header-actions="R;D"
            visible-columns="id;supplier_id;order_date;received"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="supplier_id" title="supplier_id">
    <o-table-cell-renderer-service attr="supplier_id" 
        service="Supplier" entity="SupplierType" columns="id;name"
        parent-keys="id:supplier_id"
        value-column="name" keys="supplier_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #order_date attr="order_date" type="timestamp" label="order_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #received attr="received" title="received" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>