<o-form-layout-manager attr="ShipmentDetail" mode="tab" title="SHIPMENTDETAIL">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ShipmentDetailTable" 
            service="ShipmentDetail" 
            entity="ShipmentDetail" 
            title="SHIPMENTDETAIL"
            keys="id"
            columns="id;order_id;shipper_id;shipment_date" 
            header-actions="R;D"
            visible-columns="id;order_id;shipper_id;shipment_date"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="order_id" title="order_id">
    <o-table-cell-renderer-service attr="order_id" 
        service="Order" entity="OrderType" columns="id;id"
        parent-keys="id:order_id"
        value-column="id" keys="order_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="shipper_id" title="shipper_id">
    <o-table-cell-renderer-service attr="shipper_id" 
        service="Shipper" entity="ShipperType" columns="id;name"
        parent-keys="id:shipper_id"
        value-column="name" keys="shipper_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #shipment_date attr="shipment_date" type="timestamp" label="shipment_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>